---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section>
    <div class="max-w-5xl mx-auto py-8">
      <div class="">
        <h2 class="text-9xl italic text-primary">Projects</h2>
      </div>
      <p>Hello</p>
    </div>
  </section>
</Layout>
