---
import { NAV_DATA } from "@/features/shared/data";
const currentPath = Astro.url.pathname;
---

<nav class="mobile:mr-6 sm:mr-10 md:mr-14 w-full mobile:w-16">
  <ul
    class="lowercase text-right mobile:sticky top-6 sm:top-10 md:top-14 mb-6 mobile:mb-0 flex gap-2 justify-end mobile:block"
  >
    {
      NAV_DATA.map((link) => {
        const isActive = currentPath === link.href;
        return (
          <li
            class={`transition-colors hover:transform-none -mx-2 ${
              isActive
                ? "text-foreground"
                : "text-muted-foreground hover:text-foreground"
            }`}
          >
            <a class="inline-block w-full px-2" href={link.href}>
              {link.name}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
